=businessCard
    height: $cardHeight
    width: $cardWidth
    background-color: $baseColor
    h1
        font-size: 3rem
        color: white
    h3
        color: $jobDescription
    .data
        color: $jobDescription

.box
    +businessCard